node_modules/
dist/
*.zip

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
tfplan
infra/backend.hcl

# Env
.env
.env.*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
